body {
    font-family: 'Arial', sans-serif;
    background: #ffe0b2;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #ef6c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ef6c00;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #ef6c00;
    color: white;
}
